module ReactionSet

using SharedData: amu, e
using InputBlock_Species: s_electron_id
using InputBlock_Species: s_O2_id, s_O_id, s_Ar_id

global K_funct_list = []

### START REACTION STRINGS ###

### END REACTION STRINGS ###

end